header.main {
	width: 90%;
	max-width: 92em;
	margin: 0 auto;
	padding: 0.25em;
}
h1 {
	position: relative;
	font-family: "bistro-script-web", "Brush Script MT", cursive;
	font-style: normal;
	font-weight: 700;
	font-size: 6em;
	margin: 0 0.25em 0.25em;
	margin-top: 0.25em;
	border-bottom: 1px solid #eee;
}
h1:before {
	content: " ";
	display: block;
	width: 0.8em;
	height: 0;
	padding-bottom: 0.8em;
	background: transparent url('img/crown.svg') top left no-repeat;
	position: absolute;
	top: -0.25em;
	left: -0.35em;
}

img {
	max-width: 100%;
	border-radius: 5px;
}

main.main {
	column-width: 30em;
	column-gap: 1px;
  	width: 90%;
	max-width: 92em;
	margin: 20px auto;
	padding: 1em;
}

figure {
	text-align: center;
    padding: 1em 1.25em;
    border-radius: 10px;
    margin: 0;
    position: relative;
    margin: 1em;
    display: inline-block;

    -webkit-column-break-inside: avoid;
    -moz-column-break-inside:avoid;
    -moz-page-break-inside:avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;

	-webkit-box-shadow: 0px 0px 1.5em 1px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 0px 1.5em 1px rgba(0,0,0,0.16);
	box-shadow: 0px 0px 1.5em 1px rgba(0,0,0,0.16);
}

figcaption {
	font-size: 1.2em;
	line-height: 1.4;
	margin: 0.75em 0.6em 0.3em;
	font-family: "instant",helvetica,arial,sans-serif;
	color:#444;
}